
::selection {color: white; background: red;}
@font-face{
    font-family: 'algebra';
    src: url(fonts/Algebra-Regular.otf);
    font-style: normal;}
@font-face{
    font-family: 'aileron';
    src: url(Aileron-Regular.otf);
    font-style: normal;} 
a {text-decoration: none;color: red;}
a:hover {text-shadow: 2px 2px 8px red;}
/* first page */
.index {font-size: 18px;line-height: 6mm; margin: 100px 0 0 20px;}
header {margin: 0 20px;}
.shortbio {font-size: 20px;font-family: aileron;width: 400px;}
header a {text-decoration: none; color: black;}
header a:hover {color: red;text-shadow: 2px 2px 8px red;}
li {list-style: none;}
li a {text-decoration: none;color: black;}
li a:hover {color: red;text-shadow: 2px 2px 8px red;}
/* see more info (index page doesnt have 'appear on click') */
.hide{display:none;}
.show{display:block;}
.index p {font-family: aileron;}
.invisible, .invisible2, .invisible3, .about {font-family: algebra; cursor: pointer;}
h1, h2{line-height: 3mm; font-family: aileron;}
/* all the contentpages */
/* content nav */
.contentnav a:hover {color: red;text-shadow: 2px 2px 8px red;}
.workheader {display: flex; font-family: aileron;justify-content: space-between;margin: 0 40px;}
.contentnav { font-size: 20px;margin: 0 40px;margin-bottom: 70px;}
.contentnav a {text-decoration: none; color: black;font-family: algebra; width: 300px;}
.contentnav span {font-family: aileron;}
.intro {width: 70%; margin: auto auto;}
/* appear on click */
.intro1 {text-align: center;font-family: algebra;}
.intro2 {font-family: aileron; font-size: 40px;line-height: 9mm;text-align: center;}
.visible4:hover {text-decoration: underline;}
.visible4 {font-size: 30px;font-family: aileron; margin-left: 15%;cursor: pointer;}
.invisible4 {width: 700px;margin-left: 15%;font-family: algebra; }
.intro3 {text-indent: 5em;  font-size: 22px;line-height: 8mm;}
/* the medium is the message page*/
.section2 img {padding: 5px;}
/*about page*/
.aboutheader {margin-top: 30px;}
.aboutheader h2 {display: inline;margin: 0 20px 0 0;}
.bioaboutpage {width: 70%; font-family: aileron; font-size: 20px;margin: auto auto;}
.reading {margin: 30px 0 100px 0;}
.reading p {font-size: 15px; margin-left: 50px;}
/* bts */
.bts {width: 90%; margin: auto auto; margin-bottom: 100px; }
/* Slideshow container */
.slideshow-container {width:100%;}
  .noshow {display: none;}
  .bttns {display:flex;justify-content: space-between; font-size: 50px; cursor: pointer;}
.bttns a{color: rgb(48, 48, 48);}
  /* The dots/bullets/indicators */
  .dot {
    cursor:pointer;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: black;
    display: inline-block;
    transition: background-color 0.6s ease;}
  .active, .dot:hover {background-color: #ff1c1c;}
  .about {font-family: aileron;font-size: 18px;;}
  .imgbreak img{margin-bottom: 40px;}
  .index {position: fixed; left:30px; top: 150px;}
  .background {float: right; width: 450px;}
  .background img {width: 450px;float: right;margin: 40px;}
  .heading {position: fixed; left: 30px;top: 10px;}
  .bioaboutpage {margin-top:200px;}

  @media only screen and (max-width: 768px)
  { .index{position: relative;left: 0px;top: 0px;}
  .background img {display: none;}
  .heading{position: relative;left: -10px;}
  .heading h2 {font-size: 20px;}
    .intro {width: 90%; margin: auto auto;}
    .workheader {width: 90%; margin: auto auto;}
    .workheader h2{font-size: 20px;}
    .contentnav{width: 90%; margin: auto auto;}
  .invisible4 {width: 400px;}
    }
    @media only screen and (max-width: 375px)
    {.shortbio {width: 90%;font-size: 20px;}
  .invisible4 {width: 280px;}
  .bioaboutpage{width: 90%; margin: auto auto;}
      }
  