* {background-color: silver;}
::selection {color: white; background: red;}
/* info page */
@font-face{
    font-family: 'algebra';
    src: url(fonts/Algebra-Regular.otf);
    font-style: normal;
}
@font-face{
    font-family: 'aileron';
    src: url(fonts/Aileron-Regular.otf);
    font-style: normal;
}
.index {font-size: 18px;line-height: 6mm; margin: 100px 0 0 20px;}
header {margin: 0 20px;}

.shortbio {font-size: 20px;font-family: aileron;}

header a {text-decoration: none; color: black;}
header a:hover {color: red;text-shadow: 2px 2px 8px red;}
a img {display: none;}
a:hover img {display: block; position: fixed; top: 20%; left: 22%;z-index: -1;}

li {list-style: none;}
li a {text-decoration: none;color: black;}
li a:hover {color: red;text-shadow: 2px 2px 8px red;}

.hide{display:none;}
.show{display:block;}

.visible, .visible2, .visible3 {font-family: aileron; cursor: pointer;}
.invisible, .invisible2, .invisible3, .about {font-family: algebra; cursor: pointer;}

h1, h2{line-height: 3mm; font-family: aileron;}



/* contentpages */

.contentnav a:hover {color: red;text-shadow: 2px 2px 8px red;}
.workheader {display: flex; font-family: aileron;margin: 0 20px; }
.workheader h2 {margin-right: 40px;}


.contentnav {display: flex; justify-content: space-between; font-size: 25px;margin: 0 20px;}
.contentnav a {text-decoration: none; color: black;font-family: algebra; width: 300px;}
.contentnav span {font-family: aileron; font-size: 22px;}

.intro {width: 80%; margin: auto auto;}
.intro1 {text-align: center;font-family: algebra;}
.intro2 {font-family: aileron; font-size: 40px;line-height: 9mm;text-align: center;}
.visible4:hover {text-decoration: underline;}
.visible4 {font-size: 30px;font-family: aileron; margin-left: 15%;cursor: pointer;}
.invisible4 {width: 700px;margin-left: 15%;font-family: algebra; }
.intro3 {text-indent: 5em;  font-size: 22px;line-height: 8mm;}

.buttons {display:flex;justify-content: space-between; font-size: 30px; cursor: pointer;}

/* medium part*/

.section2 img {padding: 5px;}

/*about page*/

.aboutheader {margin-top: 30px;}
.aboutheader h2 {display: inline;margin: 0 20px 0 0;}
.bioaboutpage {width: 70%; font-family: aileron; font-size: 20px;margin: auto auto;}

.reading {margin: 30px 0 100px 0;}
.reading p {font-size: 15px; margin-left: 50px;}

/* bts */
.bts {width: 90%; margin: auto auto; margin-bottom: 100px; 
}

@media only screen and (max-width: 768px)
{
    a img {display: none;}
a:hover img {display: block; position: fixed; top: 20%; left: 10%;z-index: -1;}
.visible4 {margin-left:0;}
.invisible4 {width: 400px;font-family: algebra;margin-left: 0; }
}