
::selection {color: white; background: red;}
* {font-family: aileron;}
@font-face{
    font-family: 'algebra';
    src: url(fonts/Algebra-Regular.otf);
    font-style: normal;}
@font-face{
    font-family: 'aileron';
    src: url(Aileron-Regular.otf);
    font-style: normal;} 
a {text-decoration: none;color: red;}
a:hover {text-shadow: 2px 2px 8px red;}
/* first page */
header a {text-decoration: none; color: black;}
header a:hover {color: red;text-shadow: 2px 2px 8px red;}
li {list-style: none;}
li a {text-decoration: none;color: black;}
li a:hover {color: red;text-shadow: 2px 2px 8px red;}
/* see more info (index page doesnt have 'appear on click') */
.hide{display:none;}
.show{display:block;}
h1, h2{line-height: 3mm; font-family: aileron;font-weight: normal;}
/* all the contentpages */
/* content nav */
.contentnav a:hover {color: red;text-shadow: 2px 2px 8px red;}
.workheader {display: flex; font-family: aileron;justify-content: space-between;margin: 0 40px;}
.contentnav { font-size: 20px;margin: 50px 40px;margin-bottom: 80px;}
.contentnav a {text-decoration: none; color: black;width: 300px;}
.contentnav span {font-family: aileron;}
.intro {width: 70%; margin: auto auto;}
/* appear on click */
.intro1 {text-align: center;}
.intro2 {font-family: aileron; font-size: 40px;line-height: 9mm;text-align: center;}
.visible4:hover {text-decoration: underline;}
.visible4 {font-size: 30px;font-family: aileron; margin-left: 15%;cursor: pointer;}
.invisible4 {width: 700px;margin-left: 15%; }
.intro3 {text-indent: 5em;  font-size: 22px;line-height: 8mm;}
/* the medium is the message page*/
.section2 img {padding: 5px;}
/* bts */
.bts {width: 90%; margin: auto auto; margin-bottom: 100px; }
/* Slideshow container */
.slideshow-container {width:100%;}
  .noshow {display: none;}
  .bttns {display:flex;justify-content: space-between; font-size: 50px; cursor: pointer;}
.bttns a{color: rgb(48, 48, 48);}
  /* The dots/bullets/indicators */
  .dot {
    cursor:pointer;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: black;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {background-color: #ff1c1c;}
.moreinfo {display: flex;justify-content: space-between;margin-top: 100px;
}
.index{width: 70%;margin: auto auto;font-family: aileron;font-size: 20px;position: fixed;top: 100px;left: 50px;
}
.delet{position: relative;top: 200px;left: 40px;}
.bio {width: 70%; margin: auto auto;font-family: aileron;font-size: 20px;margin-top: 100px;}
.bio img {margin-right: 10px;}
.projects{font-family: algebra; }
.background {float: right;margin-top: 70px;}
.background img{width: 700px;display: block;margin-bottom: 20px;}
  @media only screen and (max-width: 768px)
  { 
  .background img {display: none;}
  .heading h2 {font-size: 20px;}
    .intro {width: 90%; margin: auto auto;}
    .workheader {width: 90%; margin: auto auto;}
    .workheader h2{font-size: 20px;}
    .contentnav{width: 90%; margin: auto auto;}
  .invisible4 {width: 400px;}
  .bio{width:90%;margin: auto auto; }
  .index{width: 90%;position: relative;top: 50px;left: 10px;}

    }
    @media only screen and (max-width: 375px)
    {
  .moreinfo {display: block;}
  .invisible4 {width: 280px;}
}
/* .newspaper{width: 70%; margin: auto auto;} */
.news img{max-width: 100%;}
.news{ text-align: center;}
.news div {text-align: center;}

.news {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  }